html {
    background-image: url("http://unsplash.it/1500/1000?image=881&blur=50");
    background-position: center;
    background-size: cover;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main {
    width: 40vh;
    height: 40vh;
    border: 2vh solid white;
    padding: 1vh;
    border-radius: 50%;
    position: relative;
}

.hand {
    width: 20vh;
    height: 1vh;
    background: black;
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
}

#hour-hand {
    width: 9vh;
    right: 50%;
}

#sec-hand {
    height: 0.7vh;
}



